html {
    box-sizing: border-box
  }
  *, *::before, *::after {
    box-sizing: inherit
  }
  

  .header-principal{
    font-size: 30px;
    text-align: center;
    font-weight:bold;
    padding:20px;
  }

  section{
    text-align: center;
  }
  
  section header{
    font-size: 20px;
    font-weight:bold;
    margin-top:30px;
  }

  .container{
    margin: 0 auto;
    width:80%;
  }
  
  #fadein{
  font-size: 30px;
  opacity:0;
  transition:5s;  
  }

  #container-boton{
    text-align: center;
    padding:50px;
  }


  button{
    font-size:50px;
  }