html {
    box-sizing: border-box
  }
  *, *::before, *::after {
    box-sizing: inherit
  }


.texto{
    width: 90%;
    margin: 0 auto;
    display:flex;
    padding:20px 40px;
    
}

.texto h4{
    margin-left:30px;
}

.imagenes{
    padding:10px;
    display: flex;
    overflow: hidden;
    width:95%;
    margin: 0 auto;
}

.imgeffect{
    position:relative;
    margin:0 15px 10px 0;
}
.imgeffect p{
    position:absolute;
    opacity:0;   
}
.imgeffect:hover p{
    position:absolute;
    top:0;
    left:0;
    padding: 15px 10px;
    margin:0;
    background-color:  rgba(255, 255, 255, 0.7);
    opacity:0.9;
    width:100%;
    color: black;
}


